 <form nz-form [formGroup]="empForm" nzLayout="horizontal" (ngSubmit)="createEmpForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired nzFor="name">Name</nz-form-label>
      <nz-form-control [nzSpan]="14" [nzErrorTip]="nameErrorTpl">
        <input type="text" nz-input formControlName="name" placeholder="Name">
        <ng-template #nameErrorTpl let-control>
          <div *ngIf="control.hasError('required')">
            This Field is required!
          </div>
          <div *ngIf="control.hasError('serverError')">
              {{ control.errors['serverError']}}
          </div>
        </ng-template>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="10" nzRequired>Mobile</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="mobileErrorTpl">
        <input nz-input formControlName="mobile" maxlength="10" placeholder="Mobile" type="text" />
        <ng-template #mobileErrorTpl let-control>
            <div *ngIf="control.hasError('required')">
                Please enter valid Mobile number
            </div>
            <div *ngIf="control.hasError('serverError')">
              {{ control.errors['serverError']}}
          </div>
        </ng-template>
    </nz-form-control>
  </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired nzFor="email">Email</nz-form-label>
        <nz-form-control [nzSpan]="14" [nzErrorTip]="emailErrorTpl">
          <input type="email" nz-input formControlName="email" placeholder="Email">
          <ng-template #emailErrorTpl let-control>
            <div *ngIf="control.hasError('required')">
              This Field is required!
            </div>
            <div *ngIf="control.hasError('serverError')">
                {{ control.errors['serverError']}}
            </div>
          </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired  nzFor="password">Password</nz-form-label>
        <nz-form-control [nzSpan]="14" [nzErrorTip]="passErrorTpl">
            <input type="password" nz-input formControlName="password" placeholder="Password">
            <ng-template #passErrorTpl let-control>
              <div *ngIf="control.hasError('required')">
                This Field is required!
              </div>
              <div *ngIf="control.hasError('serverError')">
                  {{ control.errors['serverError']}}
              </div>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <hr>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Role</nz-form-label>
      <nz-form-control [nzSpan]="14" [nzErrorTip]="roleErrorTpl">
          <nz-select nzPlaceHolder="Select a Role" formControlName="role_id" (ngModelChange)="showCoInput($event)">
              <nz-option nzValue="1" nzLabel="Tele Caller"></nz-option>
              <nz-option nzValue="2" nzLabel="Backend"></nz-option>
              <nz-option nzValue="3" nzLabel="Co-Ordinator"></nz-option>
              <nz-option nzValue="4" nzLabel="Administrator"></nz-option>
          </nz-select>
          <ng-template #roleErrorTpl let-control>
              <div *ngIf="control.hasError('required')">
                  Please input your Role
              </div>
              <div *ngIf="control.hasError('serverError')">
                {{ control.errors['serverError']}}
            </div>
          </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isCoInputField">
      <nz-form-label [nzSpan]="10" nzRequired>Co Name</nz-form-label>
      <nz-form-control [nzSpan]="14" [nzErrorTip]="coErrorTpl">
          <nz-select formControlName="coordinator" nzPlaceHolder="Select Co-Ordinator">
              <nz-option *ngFor="let co of listofCos" [nzLabel]="co.name" [nzValue]="co.id"></nz-option>
          </nz-select>
          <ng-template #coErrorTpl let-control>
              <div *ngIf="control.hasError('required')">
                  Please Select Co-Ordinator
              </div>
              <div *ngIf="control.hasError('serverError')">
                {{ control.errors['serverError']}}
            </div>
          </ng-template>
      </nz-form-control>
  </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Products</nz-form-label>
      <nz-form-control [nzSpan]="14" [nzErrorTip]="productErrorTpl">
        <nz-select
        [nzMaxTagCount]="10"
        nzMode="multiple"
        nzPlaceHolder="Select Products"
        formControlName="products"
        >
          <nz-option *ngFor="let item of listOfProducts" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
        </nz-select>
        <ng-template #productErrorTpl let-control>
          <div *ngIf="control.hasError('required')">
              Please input your Products
          </div>
          <div *ngIf="control.hasError('serverError')">
            {{ control.errors['serverError']}}
        </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzFor="outside_leads">Outside Leads</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-switch formControlName="outside_leads"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzFor="status">Status</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-switch formControlName="status"></nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control>
            <div class="d-flex align-items-center justify-content-between">
                <button type="submit" [nzLoading]="isSubmitted"  nz-button [nzType]="'primary'">Submit</button>
                <!-- [disabled]="!empForm.valid" -->
                <button type="reset" nz-button nzType="default" nzDanger>Reset</button>
            </div>
    </nz-form-control>
    </nz-form-item>
  </form>
